/* Template 1 */
.template1_post_card{
    height: 440px;
}

.template1_post_row{
    margin-bottom: 30px;
}
.template1_post_card a.btn.btn-warning {
    position: absolute;
    bottom: 15px;
}


/* Template 2 */

