li#toplevel_page_test-plugin img {
    width: 22px;
}

select#root_tagonomy {
    min-height: 38px;
    width: 100%;
}

select#all_post_type{
    min-height: 38px;
    width: 100%;
}

img.post_ajax_loader {
    height: 35px;
    display: none;
}

.shotcode_execute {
    font-weight: 500;
    font-size: 15px;
    background-color: #e4e4e4;
    padding: 8px 8px;
    border-radius: 5px;
    float: left !important;
}

img.template_sample {
    width: 100% !important;
    /* height: 155px !important; */
    border: solid 2px lightgray !important;
}
.row_template {
    margin: 30px 0 !important;
}

.row.choose_template_scene input {
    margin: 0.2rem .25rem 0 0 !important;
}

.choose_template_scene h6 {
    font-size: 12px;
}